.section {
  position: relative;
  display: flex;
  justify-content: center;
  overflow-x: auto;
  background-color: white;
}

.section .inner {
  position: relative;
  width: 100%;
  max-width: 692px;
  min-width: 100px;
  display: block;
  margin: 0 2rem;
}

/* search */
.search {
  display: none;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.topbar {
  margin-top: 3.25rem;
  margin-bottom: 3rem;
}

.header {
  margin-bottom: 2.5rem;
}

.header h1 {
  font-weight: normal;
  font-family: messina_black;
  font-size: 2.625rem;
  line-height: 3.25rem;
  color: #292929;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.header .search_text {
  display: none;
}

.header .result_text {
  color: #757575;
}

.header .query_text {
  display: inline-block;
}

/* ========== stories ======= */
.stories {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

.story {
   position: relative;
}

.story .content {
  display: flex;
  flex-direction: column;
  display: flex;
}

.story:not(:first-child) {
  padding-top: 1.5rem;
}
.story:not(:last-child) {
  border-bottom: 1px solid rgba(230, 230, 230, 1);
}

/* ==== over ==== */

.stories .story:not(:last-of-type) .over {
  display: none;
}

.over{
  position: absolute;
  top: -7px;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 1.5rem;
  background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 5%, rgba(255, 255, 255, 0.6) 5%, rgb(255, 255, 255) 65%);;
}

.over .action {
 height: 100%;
 display: flex;
 align-items: flex-end;
}

.over .showMore{
 display: flex;
 align-items: center;

 font-family: messina;
 font-size: 1rem;
 color: rgba(26, 137, 23, 1);
 fill: rgba(26, 137, 23, 1);
 cursor: pointer;
}

.over .showMore .icon {
 transform: translateY(2px);
}


/* ==== story ==== */


.story .header {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.story .avatar {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}
.story .avatar img {
  border-radius: 50%;
  object-fit: cover;
}

.story .author {
  display: flex;
  font-family: messina;
  font-size: 0.875rem;
}

.story .author a {
  color: #292929;
}

.story .author .date {
  font-size: 14px;
  line-height: 20px;
  color: #757575;
}

.story .author .date a {
  color: #757575;
}

.story .author  .dot {
  display: flex;
  font-family: charter;
  align-items: center;
  padding: 0 0.25rem;
  font-size: 0.8125rem;
  line-height: 1.25rem;
  color: #757575;
}


.story .body {
  display: flex;
  margin-top: 0.75rem;
}

.story .body > .right {
  margin-left: 3.75rem;
}

.story .body > .left {
  flex-grow: 1;
}

.story .thumbnail {
  position: relative;
  width: 112px;
  height: 112px;
}
.story .thumbnail img {
  height: inherit;
  width: inherit;
  object-fit: cover;
}

.story .title {
  padding-bottom: 0.5rem;
}

.story .body h2 {
  font-family: messina_black;
  font-size: 1.375rem;
  line-height: 1.75rem;
}

.story .body p {
  font-family: charter;
  font-size: 1rem;
  line-height: 1.5rem;
}

.story .footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 2rem 0;
}

.story .footer :is(.left, .right) {
  display: flex;
  align-items: center;
}

.story .footer a {
  display: flex;
  align-items: center;
  color: #757575;
}

.story .footer span {
  min-width: max-content;
  font-family: messina_thin;
  font-size: 0.8125rem;
  line-height: 1.25rem;
  color: #757575;
  text-shadow: 0.1px 0.1px 0 #757575;
}

.story .tag {
  padding-right: 0.5rem;
}

.story .tag a {
  display: inline-block;
  background-color: rgb(241, 241, 241);
  color: #292929;
  border-radius: 1rem;

  transition: all 0.15s ease-out;
}
.story .tag a:hover {
  background-color: rgb(231, 231, 231);
}

.story .tag span {
  display: flex;
  align-items: center;
  padding: 0.125rem 0.5rem;
  color: #292929;
}

.story .footer .dot {
  display: none;
  align-items: center;
  padding: 0 0.5rem;
  font-family: charter;
  font-size: 0.8125rem;
  line-height: 1.25rem;
  color: #757575;
}

.story .footer .btn {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #292929;
  padding: 0.8px 0;
  cursor: pointer;
}

.story .footer .save {
  margin-right: 1rem;
}

.story .hr {
  display: inline-block;
  height: 1px;
  background-color: rgba(230, 230, 230, 1);
}


/* ========== MEDIA ======== */
@media screen and (max-width: 1080px) {
  .search {
    display: block;
  }
}

@media screen and (max-width: 728px) {
  .section .inner {
    margin: 0 1.5rem;
  }

  .topbar {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .header h1 {
    font-size: 1.375rem;
    line-height: 1.75rem;
  }

  .topbar .search_text {
    display: inline-block;
  }

  .topbar .result_text {
    display: none;
  }

  .topbar .query_text {
    display: none;
  }

  /* stories */
  .story .body > .right {
    margin-left: 1.5rem;
  }

  .story .body h2 {
    font-size: 1rem;
    line-height: 1.25rem;
  }

  .story .body p {
    display: none;
  }

  .story .thumbnail {
    width: 56px;
    height: 56px;
  }

  .story .title {
    padding-bottom: 0;
  }

  .story .footer {
    padding: 1rem 0;
  }
}

@media screen and (max-width: 680px) {
}

@media screen and (max-width: 552px) {
}

@media screen and (max-width: 488px) {
}


@media screen and (max-width: 480px) {
  .story .footer .dot {
    display: flex;
  }
}