.section {
  position: relative;
  display: flex;
  justify-content: center;
  overflow-x: auto;
  background-color: white;
}

.section .inner {
  position: relative;
  width: 100%;
  max-width: 692px;
  min-width: 100px;
  display: block;
  margin: 0 2rem;
}

/* search */
.search {
  display: none;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.topbar {
  margin-top: 3.25rem;
  margin-bottom: 3rem;
}

.header {
  margin-bottom: 2.5rem;
}

.header h1 {
  font-weight: normal;
  font-family: messina_black;
  font-size: 2.625rem;
  line-height: 3.25rem;
  color: #292929;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.header .search_text {
  display: none;
}

.header .result_text {
  color: #757575;
}


/* ======== topics ======== */

.topics {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

.topic {
  margin-right: 10px;
  margin-bottom: 8px;
}

.topic a {
  margin-right: 0.5rem;
}

.topic span {
  display: inline-block;
  font-family: messina;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding: 0.5rem 1rem;
  background-color: rgba(242, 242, 242, 1);
  border-radius: 100px;
  color: #292929;
  transition: background 300ms ease;
}

.topic span:hover {
  background-color: rgb(225, 225, 225);
}


/* ===== over ====== */
.over{
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 5%, rgba(255, 255, 255, 0.6) 5%, rgb(255, 255, 255) 65%);;
}

.over .action {
 height: 100%;
 display: flex;
 align-items: flex-end;
}

.over .showMore{
 display: flex;
 align-items: center;

 font-family: messina;
 font-size: 1rem;
 color: rgba(26, 137, 23, 1);
 fill: rgba(26, 137, 23, 1);
 cursor: pointer;
}

.over .showMore .icon {
 transform: translateY(2px);
}






/* ========== MEDIA ======== */
@media screen and (max-width: 1080px) {
  .search {
    display: block;
  }
}

@media screen and (max-width: 728px) {
  .section .inner {
    margin: 0 1.5rem;
  }

  .topbar {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .header h1 {
    font-size: 1.375rem;
    line-height: 1.75rem;
  }

  .topbar .search_text {
    display: inline-block;
  }

  .topbar .result_text {
    display: none;
  }

  .topbar .query_text {
    display: none;
  }
}

@media screen and (max-width: 680px) {
}

@media screen and (max-width: 552px) {
}

@media screen and (max-width: 488px) {
}
