.container {
  display: block;
  width: 100%;
  height: auto;
}

.layout {
  width: 100%;
  max-width: 1504px;
  height: auto;
  margin-inline: auto;
  display: flex;
  flex-direction: row;
}



@media screen and (max-width: 1240px) {

}

@media screen and (max-width: 1080px) {
  .layout {
    flex-direction: column;
  }
  .leftbar {
    display: none;
  }
}

@media screen and (max-width: 728px) {


}
